/* Base Application Styles */
body {
  color: #fff;
  background: #ddd;
}

@media (min-width: 450px) {
  .index {
    width: 450px;
    margin: 0 auto;
    color: white;
  }
}


.news-content {
  background-color: white;
  color: black;
  padding: 10px 10px;
}

.news-content * {
  max-width: 430px;
}
